
<footer >
    <div class="f-info f-info-sm f-position">
        <div class="f-left">
            <div class="f-logo"><i class="fa-regular fa-copyright "></i><i class="fa-solid fa-bed" style="color: #ea3434;"></i>StayIn.</div>
        <div class="f-info-abouts">
            <ul>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/terms">Terms</a></li>
                <li><a href="/sitemap">Sitemap</a></li>
                <li><a href="/about">Company details</a></li>
            </ul>
        </div>
        </div>
        
        <div class="f-info-socials f-info-socials-sm">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </div>
</footer>